@using Microsoft.AspNetCore.Identity
@using MovieCatalog.Models

@inject SignInManager<MyUser> SignInManager
@inject UserManager<MyUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Logout" asp-action="Index" method="post" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <!-- Solo muestra el nombre de usuario, sin enlace -->
                Hello @UserManager.GetUserName(User)!
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Register </a></li>
        <li>&nbsp;&nbsp;&nbsp;</li>
        <li><a asp-controller="Login" asp-action="Login"> Login</a></li>
    </ul>
}
