@using Microsoft.AspNetCore.Identity
@using MovieCatalog.Models

@inject SignInManager<MyUser> SignInManager
@inject UserManager<MyUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Logout" asp-action="Index" method="post" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Account" asp-action="Manage" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Register  </a></li>
        <li><a asp-controller="Login" asp-action="Login"> Login</a></li>
    </ul>
}
